<html lang="en">
<head>
  <title>Remove User as Manager Role</title>
</head>
<body>
<div>
  <p><span>Hey,</span></p>
  <p></p>
  <p><span>You have been removed as a {{role}} for the {{groupName}} on FX1.</span></p>
  <p></p>
  <p><span>If you believe this has been done by mistake or in error, please just reply back to this email and let us know.</span></p>
  <p></p>
  <p><span>Thank you,</span></p>
  <p></p>
  <p><b><u><span>FX1</span></u></b></p>
</div>
</body>
</html>
